exports/colors/json/chr007_w27.pal_excess_Halter.json
exports/colors/json/chr007_w28.pal_excess_Halter.json
exports/colors/json/chr007_w29.pal_excess_Halter.json
exports/colors/json/chr007_w80.pal_excess_Halter.json
exports/colors/json/green tea.json
exports/colors/json/purpla.json
exports/custom_pals/fashion/chr007_w07.pal
exports/custom_pals/fashion/chr007_w08.pal
exports/custom_pals/fashion/chr007_w09.pal
exports/custom_pals/fashion/chr007_w100.pal
exports/custom_pals/fashion/chr007_w110.pal
exports/custom_pals/fashion/chr007_w17.pal
exports/custom_pals/fashion/chr007_w18.pal
exports/custom_pals/fashion/chr007_w19.pal
exports/custom_pals/fashion/chr007_w27.pal
exports/custom_pals/fashion/chr007_w28.pal
exports/custom_pals/fashion/chr007_w29.pal
exports/custom_pals/fashion/chr007_w37.pal
exports/custom_pals/fashion/chr007_w38.pal
exports/custom_pals/fashion/chr007_w39.pal
exports/custom_pals/fashion/chr007_w47.pal
exports/custom_pals/fashion/chr007_w48.pal
exports/custom_pals/fashion/chr007_w49.pal
exports/custom_pals/fashion/chr007_w57.pal
exports/custom_pals/fashion/chr007_w58.pal
exports/custom_pals/fashion/chr007_w59.pal
exports/custom_pals/fashion/chr007_w60.pal
exports/custom_pals/fashion/chr007_w70.pal
exports/custom_pals/fashion/chr007_w80.pal
exports/custom_pals/fashion/chr007_w90.pal
exports/custom_pals/fashion/test.pal
exports/icons/chr007_fashion_1_chr007_w07.bmp
exports/icons/chr007_fashion_1_chr007_w08.bmp
exports/icons/chr007_fashion_1_chr007_w09.bmp
exports/icons/chr007_fashion_1_chr007_w60.bmp
exports/icons/chr007_fashion_1_chr007_w60.pal.bmp
exports/icons/chr007_fashion_2_chr007_w17.bmp
exports/icons/chr007_fashion_2_chr007_w18.bmp
exports/icons/chr007_fashion_2_chr007_w19.bmp
exports/icons/chr007_fashion_2_chr007_w70.bmp
exports/icons/chr007_fashion_2_chr007_w70.pal.bmp
exports/icons/chr007_fashion_3_chr007_w27.bmp
exports/icons/chr007_fashion_3_chr007_w28.bmp
exports/icons/chr007_fashion_3_chr007_w29.bmp
exports/icons/chr007_fashion_3_chr007_w80.bmp
exports/icons/chr007_fashion_3_chr007_w80.pal.bmp
exports/icons/chr007_fashion_4_chr007_w37.bmp
exports/icons/chr007_fashion_4_chr007_w38.bmp
exports/icons/chr007_fashion_4_chr007_w39.bmp
exports/icons/chr007_fashion_4_chr007_w90.bmp
exports/icons/chr007_fashion_4_chr007_w90.pal.bmp
exports/icons/chr007_fashion_5_chr007_w100.bmp
exports/icons/chr007_fashion_5_chr007_w100.pal.bmp
exports/icons/chr007_fashion_5_chr007_w47.bmp
exports/icons/chr007_fashion_5_chr007_w48.bmp
exports/icons/chr007_fashion_5_chr007_w49.bmp
exports/icons/chr007_fashion_6_chr007_w110.bmp
exports/icons/chr007_fashion_6_chr007_w110.pal.bmp
exports/icons/chr007_fashion_6_chr007_w57.bmp
exports/icons/chr007_fashion_6_chr007_w58.bmp
exports/icons/chr007_fashion_6_chr007_w59.bmp
exports/images/chr007_view26_pal007.bmp
exports/images/chr007_view26_pal007_cute.bmp
exports/images/chr007_view26_pal008.bmp
exports/images/chr007_view26_pal008_cute.bmp
exports/images/chr007_view26_pal009.bmp
exports/images/chr007_view26_pal009_cute.bmp
exports/images/chr007_view26_pal060.bmp
exports/images/chr007_view26_pal060_cute.bmp
src/__pycache__/fashionpreviewer.cpython-314.pyc
src/__pycache__/icon_handler.cpython-314.pyc
src/__pycache__/icon_transpositions.cpython-314.pyc
src/__pycache__/palette_ranges.cpython-314.pyc
settings.json
test_halter.bmp
test.bmp
src/statistics.json
src/settings.json
.claude/worktrees/objective-booth-69e0c1/
src/settings.json
src/statistics.json
exports/custom_pals/fashion/chr002_w07.pal
exports/custom_pals/fashion/chr002_w08.pal
exports/custom_pals/fashion/chr002_w17.pal
exports/custom_pals/fashion/chr002_w18.pal
exports/custom_pals/fashion/chr002_w27.pal
exports/custom_pals/fashion/chr002_w28.pal
exports/custom_pals/fashion/chr002_w37.pal
exports/custom_pals/fashion/chr002_w38.pal
exports/custom_pals/fashion/chr002_w47.pal
exports/custom_pals/fashion/chr002_w48.pal
exports/custom_pals/fashion/chr002_w57.pal
exports/custom_pals/fashion/chr002_w58.pal
exports/custom_pals/fashion/chr004_w08.pal
exports/custom_pals/fashion/chr004_w18.pal
exports/custom_pals/fashion/chr004_w28.pal
exports/custom_pals/fashion/chr004_w38.pal
exports/custom_pals/fashion/chr004_w48.pal
exports/custom_pals/fashion/chr005_w07.pal
exports/custom_pals/fashion/chr005_w17.pal
exports/custom_pals/fashion/chr005_w27.pal
exports/custom_pals/fashion/chr005_w37.pal
exports/custom_pals/fashion/chr005_w47.pal
exports/custom_pals/fashion/chr006_w04.pal
exports/custom_pals/fashion/chr006_w05.pal
exports/custom_pals/fashion/chr006_w15.pal
exports/icons/chr002_fashion_1_chr002_w07.pal.bmp
exports/icons/chr002_fashion_1_chr002_w08.bmp
exports/icons/chr002_fashion_2_chr002_w17.bmp
exports/icons/chr002_fashion_2_chr002_w18.bmp
exports/icons/chr002_fashion_3_chr002_w27.bmp
exports/icons/chr002_fashion_3_chr002_w28.bmp
exports/icons/chr002_fashion_4_chr002_w37.bmp
exports/icons/chr002_fashion_4_chr002_w38.bmp
exports/icons/chr002_fashion_5_chr002_w47.bmp
exports/icons/chr002_fashion_5_chr002_w48.bmp
exports/icons/chr002_fashion_6_chr002_w57.bmp
exports/icons/chr002_fashion_6_chr002_w58.bmp
exports/icons/chr004_fashion_1_chr004_w08.bmp
exports/icons/chr004_fashion_2_chr004_w18.bmp
exports/icons/chr004_fashion_3_chr004_w28.bmp
exports/icons/chr004_fashion_4_chr004_w38.bmp
exports/icons/chr004_fashion_5_chr004_w48.bmp
exports/icons/chr005_fashion_1_chr005_w07.bmp
exports/icons/chr005_fashion_2_chr005_w17.bmp
exports/icons/chr005_fashion_3_chr005_w27.bmp
exports/icons/chr005_fashion_4_chr005_w37.bmp
exports/icons/chr005_fashion_5_chr005_w47.bmp
exports/icons/chr019_fashion_1_chr019_w03.bmp
exports/images/chr002_view17_illu.bmp
exports/images/chr002_view19_illu.bmp
exports/images/chr002_view20_1780247958.bmp
exports/images/chr002_view20_1780247958_illu_illu.bmp
exports/images/chr002_view20_1780247958_illu_illu_cute.bmp
exports/images/chr002_view20_1780247994.bmp
exports/images/chr002_view20_1780247994_illu_illu.bmp
exports/images/chr002_view20_1780247994_illu_illu_cute.bmp
exports/images/chr002_view20_1780248000.bmp
exports/images/chr002_view20_1780248000_illu_illu.bmp
exports/images/chr002_view20_1780248000_illu_illu_cute.bmp
exports/images/chr002_view22_1780248113.bmp
exports/images/chr002_view22_1780248113_illu_illu.bmp
exports/images/chr002_view22_1780248113_illu_illu_cute.bmp
exports/images/chr002_view24_1780248196.bmp
exports/images/chr002_view24_1780248196_illu_illu.bmp
exports/images/chr002_view24_1780248196_illu_illu_cute.bmp
exports/images/chr002_view24_1780248265.bmp
exports/images/chr002_view24_1780248265_illu_illu.bmp
exports/images/chr002_view24_1780248265_illu_illu_cute.bmp
exports/images/chr004_view13.bmp
exports/images/chr004_view131.bmp
exports/images/chr004_view131_illu_illu.bmp
exports/images/chr004_view131_illu_illu_cute.bmp
exports/images/chr004_view132.bmp
exports/images/chr004_view132_illu_illu.bmp
exports/images/chr004_view132_illu_illu_cute.bmp
exports/images/chr004_view133.bmp
exports/images/chr004_view133_illu_illu.bmp
exports/images/chr004_view133_illu_illu_cute.bmp
exports/images/chr004_view13_illu_illu.bmp
exports/images/chr004_view13_illu_illu_cute.bmp
exports/images/chr004_view5.bmp
exports/images/chr004_view5_blu.bmp
exports/images/chr004_view5_blu_illu_illu.bmp
exports/images/chr004_view5_blu_illu_illu_cute.bmp
exports/images/chr004_view5_illu_illu.bmp
exports/images/chr004_view5_illu_illu_cute.bmp
exports/images/chr004_view6.bmp
exports/images/chr004_view6_illu_illu.bmp
exports/images/chr004_view6_illu_illu_cute.bmp
exports/images/chr004_view8_1780248138.bmp
exports/images/chr004_view8_1780248138_illu_illu.bmp
exports/images/chr004_view8_1780248138_illu_illu_cute.bmp
exports/images/chr004_view8_1780248159.bmp
exports/images/chr004_view8_1780248159_illu_illu.bmp
exports/images/chr004_view8_1780248159_illu_illu_cute.bmp
exports/images/chr005_view4_purple.bmp
exports/images/chr005_view4_purple_illu_illu.bmp
exports/images/chr005_view4_purple_illu_illu_cute.bmp
exports/images/chr005_view5_1780248176.bmp
exports/images/chr005_view5_1780248176_illu_illu.bmp
exports/images/chr005_view5_1780248176_illu_illu_cute.bmp
exports/images/chr006_view28.bmp
exports/images/chr006_view28_illu_illu.bmp
exports/images/chr006_view28_illu_illu_cute.bmp
exports/images/chr019_view4.bmp
exports/images/chr019_view4_illu_illu.bmp
exports/images/chr019_view4_illu_illu_cute.bmp
exports/custom_pals/fashion/chr023_w233.pal
exports/custom_pals/fashion/chr023_w2333.pal
exports/icons/chr018_fashion_1_chr018_w06_1780669464.bmp
exports/icons/chr018_fashion_1_chr018_w06_1780669507.bmp
exports/icons/chr018_fashion_1_chr018_w07_1780669559.bmp
exports/icons/chr018_fashion_1_chr018_w08_1780669589.bmp
exports/icons/chr018_fashion_1_chr018_w09_1780669626.bmp
exports/icons/chr018_fashion_1_chr018_w60_1780670083.bmp
exports/icons/chr018_fashion_1_chr018_w61_1780670182.bmp
exports/icons/chr018_fashion_1_chr018_w62_1780670262.bmp
exports/icons/chr018_fashion_1_chr018_w63_1780670279.bmp
exports/icons/chr018_fashion_1_chr018_w64_1780670293.bmp
exports/icons/chr018_fashion_1_chr018_w65_1780670316.bmp
exports/icons/chr018_fashion_1_chr018_w66_1780670339.bmp
exports/icons/chr018_fashion_1_chr018_w67_1780670484.bmp
exports/icons/chr018_fashion_1_chr018_w68_1780670575.bmp
exports/icons/chr018_fashion_2_chr018_w123_1780670484.bmp
exports/icons/chr018_fashion_2_chr018_w124.bmp
exports/icons/chr018_fashion_2_chr018_w15_1780669464.bmp
exports/icons/chr018_fashion_2_chr018_w15_1780669507.bmp
exports/icons/chr018_fashion_2_chr018_w16_1780669559.bmp
exports/icons/chr018_fashion_2_chr018_w17_1780669589.bmp
exports/icons/chr018_fashion_2_chr018_w18_1780669626.bmp
exports/icons/chr018_fashion_2_chr018_w19_1780670083.bmp
exports/icons/chr018_fashion_2_chr018_w70_1780670182.bmp
exports/icons/chr018_fashion_2_chr018_w71_1780670262.bmp
exports/icons/chr018_fashion_2_chr018_w72_1780670279.bmp
exports/icons/chr018_fashion_2_chr018_w73_1780670293.bmp
exports/icons/chr018_fashion_2_chr018_w74_1780670316.bmp
exports/icons/chr018_fashion_2_chr018_w75_1780670339.bmp
exports/icons/chr018_fashion_2_chr018_w77_1780670575.bmp
exports/icons/chr018_fashion_3_chr018_w25_1780669464.bmp
exports/icons/chr018_fashion_3_chr018_w25_1780669507.bmp
exports/icons/chr018_fashion_3_chr018_w26_1780669559.bmp
exports/icons/chr018_fashion_3_chr018_w27_1780669589.bmp
exports/icons/chr018_fashion_3_chr018_w28_1780669626.bmp
exports/icons/chr018_fashion_3_chr018_w29_1780670083.bmp
exports/icons/chr018_fashion_3_chr018_w80_1780670182.bmp
exports/icons/chr018_fashion_3_chr018_w81_1780670262.bmp
exports/icons/chr018_fashion_3_chr018_w82_1780670279.bmp
exports/icons/chr018_fashion_3_chr018_w83_1780670293.bmp
exports/icons/chr018_fashion_3_chr018_w84_1780670316.bmp
exports/icons/chr018_fashion_3_chr018_w85_1780670339.bmp
exports/icons/chr018_fashion_3_chr018_w86_1780670484.bmp
exports/icons/chr018_fashion_3_chr018_w87_1780670575.bmp
exports/icons/chr018_fashion_4_chr018_w35_1780669464.bmp
exports/icons/chr018_fashion_4_chr018_w35_1780669507.bmp
exports/icons/chr018_fashion_4_chr018_w36_1780669559.bmp
exports/icons/chr018_fashion_4_chr018_w37_1780669589.bmp
exports/icons/chr018_fashion_4_chr018_w38_1780669626.bmp
exports/icons/chr018_fashion_4_chr018_w39_1780670083.bmp
exports/icons/chr018_fashion_4_chr018_w90_1780670182.bmp
exports/icons/chr018_fashion_4_chr018_w91_1780670262.bmp
exports/icons/chr018_fashion_4_chr018_w92_1780670279.bmp
exports/icons/chr018_fashion_4_chr018_w93_1780670293.bmp
exports/icons/chr018_fashion_4_chr018_w94_1780670316.bmp
exports/icons/chr018_fashion_4_chr018_w95_1780670339.bmp
exports/icons/chr018_fashion_4_chr018_w96_1780670484.bmp
exports/icons/chr018_fashion_4_chr018_w97_1780670575.bmp
exports/icons/chr018_fashion_5_chr018_w100_1780670182.bmp
exports/icons/chr018_fashion_5_chr018_w101_1780670262.bmp
exports/icons/chr018_fashion_5_chr018_w102_1780670279.bmp
exports/icons/chr018_fashion_5_chr018_w103_1780670293.bmp
exports/icons/chr018_fashion_5_chr018_w104_1780670316.bmp
exports/icons/chr018_fashion_5_chr018_w105_1780670339.bmp
exports/icons/chr018_fashion_5_chr018_w107_1780670575.bmp
exports/icons/chr018_fashion_5_chr018_w154_1780670484.bmp
exports/icons/chr018_fashion_5_chr018_w45_1780669464.bmp
exports/icons/chr018_fashion_5_chr018_w45_1780669507.bmp
exports/icons/chr018_fashion_5_chr018_w46_1780669559.bmp
exports/icons/chr018_fashion_5_chr018_w47_1780669589.bmp
exports/icons/chr018_fashion_5_chr018_w48_1780669626.bmp
exports/icons/chr018_fashion_5_chr018_w49_1780670083.bmp
exports/images/chr018_view11_1780669464.bmp
exports/images/chr018_view11_1780669464_illu_illu.bmp
exports/images/chr018_view11_1780669507.bmp
exports/images/chr018_view11_1780669507_illu_illu.bmp
exports/images/chr018_view11_1780669559.bmp
exports/images/chr018_view11_1780669559_illu_illu.bmp
exports/images/chr018_view11_1780669589.bmp
exports/images/chr018_view11_1780669589_illu_illu.bmp
exports/images/chr018_view11_1780669626.bmp
exports/images/chr018_view11_1780669626_illu_illu.bmp
exports/images/chr018_view12_1780670083.bmp
exports/images/chr018_view12_1780670083_illu_illu.bmp
exports/images/chr018_view12_1780670182.bmp
exports/images/chr018_view12_1780670182_illu_illu.bmp
exports/images/chr018_view12_1780670262.bmp
exports/images/chr018_view12_1780670262_illu_illu.bmp
exports/images/chr018_view12_1780670279.bmp
exports/images/chr018_view12_1780670279_illu_illu.bmp
exports/images/chr018_view12_1780670293.bmp
exports/images/chr018_view12_1780670293_illu_illu.bmp
exports/images/chr018_view12_1780670316.bmp
exports/images/chr018_view12_1780670316_illu_illu.bmp
exports/images/chr018_view12_1780670339.bmp
exports/images/chr018_view12_1780670339_illu_illu.bmp
exports/images/chr018_view14.bmp
exports/images/chr018_view14_1780670484.bmp
exports/images/chr018_view14_1780670484_illu_illu.bmp
exports/images/chr018_view14_illu_illu.bmp
exports/images/chr018_view15_1780670575.bmp
exports/images/chr018_view15_1780670575_illu_illu.bmp
exports/images/chr018_view7_1780667830.bmp
exports/images/chr018_view7_1780667830_illu_illu.bmp
exports/images/chr018_view8_1780668439.bmp
exports/images/chr018_view8_1780668439_illu_illu.bmp
exports/images/*.bmp
exports/icons/*.bmp
exports/colors/*.json
exports/custom_pals/fashion/*.pal
exports/custom_pals/hair/*.pal
exports/full_pals/*.pal